[submodule "gengine/module/spdlog"]
	path = gengine/module/spdlog
	url = https://github.com/gabime/spdlog
[submodule ".\\gengine\\module\\glfw"]
	path = .\\gengine\\module\\glfw
	url = https://github.com/glfw/glfw
[submodule "gengine/module/imgui"]
	path = gengine/module/imgui
	url = https://github.com/Javen9527/imgui
